@model tpc5FI.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Reserva</h1>

<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoAlojamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoAlojamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Volver a Reservas</a>
</div>
